.button {
	display: flex;
	width: 62px;
	height: 26px;
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;
	z-index: 1001;
}

.menuIcon {
	color: var(--white);
	transition: color 0.3s ease;
	transition: transform 0.3s ease;
}

.menuIcon:hover {
	color: var(--accent-main);
	transform: translateX(3px);
}


.button span:nth-child(1) {
	top: 0;
}

.button span:nth-child(2) {
	top: 50%;
	transform: translateY(-50%);
}

.button span:nth-child(3) {
	bottom: 0;
}

/* Animation of the button when opening */
.burgerOpen span:nth-child(1) {
	transform: rotate(45deg) translate(6px, 6px);
	top: 50%;
}

.burgerOpen span:nth-child(2) {
	opacity: 0;
	transform: translateX(-20px);
}

.burgerOpen span:nth-child(3) {
	transform: rotate(-45deg) translate(6px, -6px);
	bottom: 50%;
}

/* Background dimming */
.overlay {
	position: fixed;
	top: 131px;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 1);
	z-index: 998;
	opacity: 0;
	visibility: hidden; /* Hide from interaction when not visible */
	transition: opacity 0.3s ease, visibility 0.3s ease; /* Smooth transitions */
	will-change: opacity;
}

.overlayVisible {
	opacity: 1;
	visibility: visible; /* Show when visible */
}

/* Меню */
.menu {
	position: fixed;
	top: 131px; /* Header height */
	left: 50%;
	max-width: 1440px;
	margin: 0 auto;
	height: calc(100vh - 131px);
	background: var(--background);
	transform: translateX(-50%) translateX(-100%);
	transition: transform 0.3s ease;
	z-index: 999;
	overflow-y: auto;
	will-change: transform;
}

.menuOpen {
	transform: translateX(-50%) translateX(0);
}

.menuContent {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 155px;
}

.menuList {
	width: 830px;
	list-style: none;
	padding-top: 130px;
	margin: 0;
}

.menuItem {
	margin-bottom: 1.5rem;
	opacity: 0;
	transform: translateX(-20px);
	animation: slideIn 0.3s ease forwards;
}

.menuItem:nth-child(1) {
	animation-delay: 0.1s;
}
.menuItem:nth-child(2) {
	animation-delay: 0.2s;
}
.menuItem:nth-child(3) {
	animation-delay: 0.3s;
}
.menuItem:nth-child(4) {
	animation-delay: 0.4s;
}
.menuItem:nth-child(5) {
	animation-delay: 0.5s;
}

@keyframes slideIn {
	to {
		transition: opacity 4s ease;
		opacity: 1;
		transform: translateX(0);
	}
}

.menuLink {
	display: block;
	font-size: 4.25rem;
	line-height: 120%;
	font-weight: 800;
	color: var(--white);
	text-decoration: none;
	padding: 0.5rem 0;
	transition: color 0.3s ease;
	border-bottom: 2px solid transparent;
	text-transform: uppercase;
}

.menuLink:hover {
	color: #2563eb;
}

.menuLinkActive {
	color: var(--accent-main);
}

@media (max-width: 768px) {
	.button {
		display: flex;
		margin-right: 30px;
		width: 45px;
		height: 21px;
	}

	/* Removing container padding on mobile devices */
	.menu {
		padding: 0 20px;
		max-width: 100%;
	}
}

/* For tablets */
@media (max-width: 1024px) {
	.button {
		display: flex;
	}

	.menu {
		padding: 0 50px;
	}
}

/* Special styles for very wide screens */
@media (min-width: 1440px) {
	.menu {
		left: calc(50% - 720px); /* Shift to half of the maximum width */
		transform: translateX(-100%);
		max-width: 1440px;
	}

	.menuOpen {
		transform: translateX(0);
	}
}
